header{
    width: 100%;
    height: 90px;
    padding:0  40px;
    background: #fff;
}
header img:nth-child(1){
    width: 241px;
    height: 40px;
    float:left ;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 130px;
}
header img:nth-child(2){
    width: 70px;
    height: 70px;
    float: right;
    margin-top: 10px;
    margin-right: 130px;
}
.title{
    width: 100%;
    height: 48px;
    background: #000;
}
.title ul{
    width: 1190px;
    height: 48px;
    margin: auto;
}
.title ul li{
    width: 128px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    float: left;   
}
.title ul li a{
    color:#8d9095;
}
.concont{
    width: 100%;
    height:838px;
    background: #fff;
    padding-top: 65px;
}
.concont1{
    width: 1280px;
    height: 658px;
    margin: auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
}
.concont2{
    width: 890px;
    height: 565px;
}
.concont2 span:nth-child(1){
    width: 840px;
    height: 54px;
    padding-bottom: 20px;
    font-size: 26px;
    color: #191919;
    display: block;
}
.concont2 span:nth-child(2){
    width: 810px;
    height: 40px;
    padding-bottom: 20px;
    font-size: 14px;
    color: #000;
    display: block;
}
.concont2 span:nth-child(3){
    width: 810px;
    height: 331px;
    padding-bottom: 23px;
    padding-top: 57px;
    font-size: 14px;
    color: rgb(128, 128, 128);
    display: block;
}
.wenzi a{
    color:#000;
}
.wenzi a p{
    width: 400px;
    height: 42px;
    padding:10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    coloe:#000;
}
.xuebi{
    width: 810px;
    height: 45px;
    padding-top: 16px;
    font-size: 16px;
}
.zuihou_3{
    width: 298px;
    height: 46px;
    padding-top: 12px;
}
.zuihou_3 ul{
    width: 298px;
    height: 28px;
}
.zuihou_3 ul li{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    float: left;

}
.x{
    background-image: url("../img/xuebi.png");
    background-position: -49px -72px;
}
.y{
    background-image: url("../img/xuebi.png");
    background-position: -24px -72px;
}
.m{
    background-image: url("../img/xuebi.png");
    background-position: 0 -72px;
}
.o{
    background-image: url("../img/xuebi.png");
    background-position: -96px -72px;
}
.concont5{
    width: 300px;
    height: 657px;
    
}
.concont5 ul li{
    width: 289px;
    height: 57px;
    border-bottom: 1px solid #d3d3d3;
    padding: 15px 0;
}
.concont5 ul li p{ 
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.concont5 ul li span{
    font-size: 12px;
    color: #d3d3d3;
}
